html {
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
}

#main-container {
  display: grid;
  place-items: center;
  gap: 2rem;

  margin: 2rem;
}

#game-title {
  margin: 0;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: 50vh;
  height: 50vh;

  border: 1px solid black;
}

#game-container > div {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
}

#game-status {
  margin: 0;
}

.x-or-o {
  font-size: 6rem;
  margin: 0;
}

#form {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

#form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#results {
  text-align: center;
}
#players,
#result-display {
  font-size: 1rem;
  font-weight: bold;
}
