html {
  font-family: Poppins, sans-serif;
}

#main-container {
  display: grid;
  place-items: center;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: 50vh;
  height: 50vh;

  border: 1px solid black;
}

#game-container > div {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
}

p {
  font-size: 6rem;
  margin: 0;
}
